/* Configurações gerais */
* {
	box-sizing: border-box;
}
body {
	color: #592316;
	margin: 0;
	background-color: #F2A679;
	font-family: helvetica, sans-serif;
}

/* Cabeçalho e rodapé */
header, footer {
	width: 100%;
	padding: 30px;
	text-align: center;
	background-color: #E4B18E;
	overflow: hidden;
}

/* Navbar */
#navbar {
	width: 100%;
	overflow: hidden;
	background-color: #592316;
}

#navbar ul{
	list-style-type: none;
	padding: 0;
	margin: 0
	;

}

#navbar ul li{
	float: left;
}

#navbar ul li a{
	text-decoration: none;
	padding: 14px 16px;
	display: block;
	color: #E4B18E;
}

#navbar ul li a:hover{
	background-color:#E4B18E ;
	color: #592316 ;
}
/* Colunas laterais */
.coluna {
	width: 20%;
	float: left;
	padding: 20px;
}

/* Coluna central */
article {
	color: #592316;
	width: 75%;
	float: left;
	background-color: #F2C0A2;
	padding: 25px;
	
}

footer{
	text-align: right;
	color: #592316;
	padding-top: 100px;
}


